/** æ¸…é™¤å†…å¤–è¾¹è· **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements ç»“æž„å…ƒç´  */
dl, dt, dd, ul, ol, li, /* list elements åˆ—è¡¨å…ƒç´  */
pre, /* text formatting elements æ–‡æœ¬æ ¼å¼å…ƒç´  */
form, fieldset, legend, button, input, textarea, /* form elements è¡¨å•å…ƒç´  */
th, td /* table elements è¡¨æ ¼å…ƒç´  */
{
  margin: 0;
  padding: 0;
}

/** è®¾ç½®é»˜è®¤å­—ä½“ **/
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

address, cite, dfn, em, var {
  font-style: normal;
}
[hidden]{
  display: none;
}
/* å°†æ–œä½“æ‰¶æ­£ */
code, kbd, pre, samp {
  font-family: courier new, courier, monospace;
}

/* ç»Ÿä¸€ç­‰å®½å­—ä½“ */
small {
  font-size: 12px;
}

/* å°äºŽ 12px çš„ä¸­æ–‡å¾ˆéš¾é˜…è¯», è®© small æ­£å¸¸åŒ– */

/** é‡ç½®åˆ—è¡¨å…ƒç´  **/
ul, ol {
  list-style: none;
}

/** é‡ç½®æ–‡æœ¬æ ¼å¼å…ƒç´  **/
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

sup {
  vertical-align: text-top;
}

/* é‡ç½®, å‡å°‘å¯¹è¡Œé«˜çš„å½±å“ */
sub {
  vertical-align: text-bottom;
}

/** é‡ç½®è¡¨å•å…ƒç´  **/
legend {
  color: #000;
}

/* for ie6 */
fieldset, img {
  border: 0;
}

/* img æ­è½¦ï¼šè®©é“¾æŽ¥é‡Œçš„ img æ— è¾¹æ¡† */
button, input, select, textarea {
  font-size: 100%;
}

input {
  outline: none;
}
input:disabled {
  background: #fff;
}
input:focus {
  outline: none;
}

/* ä½¿å¾—è¡¨å•å…ƒç´ åœ¨ ie ä¸‹èƒ½ç»§æ‰¿å­—ä½“å¤§å° */
/* æ³¨ï¼šoptgroup æ— æ³•æ‰¶æ­£ */

/** é‡ç½®è¡¨æ ¼å…ƒç´  **/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* é‡ç½® HTML5 å…ƒç´  */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
  display: block;
  margin: 0;
  padding: 0;
}

mark {
  background: #ff0;
}

/* é‡ç½®ç›’æ¨¡åž‹ */
*, *:before, *:after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

body {
  font-family: "PingFang SC", "Source Han Sans CN", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  min-height: 100%;
  -webkit-text-size-adjust: none;
}
.no-scroll {
  height: 100%;
  overflow: hidden;
}
* {
  -webkit-tap-highlight-color: transparent;
}